.aside {
    position: fixed;
    top: 200px;
    right: 0px;
    background-color: aqua;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.fundo {
    background-color: gray; 
    font-family: Arial;
}

.h1 {
    color:rgb(0, 0, 0); 
    font-size: 45px; 
    background-color: aqua; 
    padding: 30px;
    text-align: center;
}  

span {
    display: inline-block;
    background-color: rgb(71, 71, 71);
    padding: 20px;
    border: 2px solid white;
    color:rgb(0, 60, 255); 
    font-size: 45px;
}
